port: 8080
auth: # auth configuration
  discovery: # (optional) protected discovery endpoint without rate limit
    login: discovery
    password: changeme
  admin: # admin configuration
    login: admin
    password: changeme
    ips: # (optional) allow access to admin endpoints only from the following IPs
      - 127.0.0.1
cors: # (optional) ref: https://echo.labstack.com/middleware/cors/#configuration
  allow_origins: ['*']
  allow_methods: ['GET', 'POST']
  allow_headers: []
  max_age: 0
cache: # (optional) cache config
  max_age: 0
  bunny: # (optional) bunny cdn cache purging, ref: https://docs.bunny.net/reference/pullzonepublic_purgecachepostbytag
    url:
    key:
cron: # (optional) data jobs, using cron synax, ref: https://github.com/mileusna/crontab#crontab-syntax-
  discovery:
  parsing:
  indexing:
  full:
path:
  index: testdata/index
  data: testdata/data.db
batch: # batch size of ingested data
  rooms: 10000
workers: # parallelism configuration, how much workers to spin up at once
  discovery: 20 # matrix server discovery, servers at once
  parsing: 20 # matrix public rooms parsing, servers at once

languages: # (optional) list of supported languages in ISO 639-1 format
  - EN
  - DE

# bootstrap list of servers, each of them will be discovered and if server doesn't respond, it won't be parsed
servers:
  - etke.cc

# vi: ft=yaml
